# Configuration file

adventurersamulets {
    S:background=AA.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


agricraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


apiculture {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


applemilk {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


applemilkcontainer {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


applemilkfood {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


applemilkmagic {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


applemilkmaterial {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


appliedenergistics2 {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true

    facades {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


arboriculture {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


battlegear2 {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


baublelicious {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


bibliocraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


bibliocraftlights {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


bibliowoodsforestry {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


brewing {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


buildcraft {

    main {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    pipes {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    gates {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    boards {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


buildingblocks {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


carpentersblocks {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


catwalks {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"cc info fragments" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


chromaticraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"chromaticraft deco" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"chromaticraft items" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"chromaticraft tools" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"chromaticraft worldgen" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


combat {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


core {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


decorations {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


electricraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


enchiridion {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


endertechall {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


enhancedinventories {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


extrabiomestab {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


extrautil {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


extrautil_fmp {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


fab {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


fairylights {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


food {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


forestry {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


gardencore {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


gardentrees {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


geostrata {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"geostrata ores" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"geostrata slabs" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"geostrata stairs" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


guideapi {

    creativetab {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


hammerz {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


ill {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


int {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


inventory {
    S:background=inventory.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


inventorygenerators {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


inventorytools {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


ironbackpacks {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


jakj_redstoneinmotion {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


lepidopterology {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


magicalcrops {
    S:background=magicalcrops.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


magicbees {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


magnanimoustools {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


malisisdoors {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


mariculture {

    core {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    machines {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    fishing {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    world {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    magic {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


materials {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


menagerie {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


misc {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"mod ores" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


ocminecart {

    modtab {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


opencomputers {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


railcraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"random things" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


redstone {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


rotarycraft {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"rotarycraft items" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


"rotarycraft tools" {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


runicdungeons {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


search {
    S:background=item_search.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


spawners {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


steamcraft {
    S:background=item_search.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


steamcrafttools {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


storagedrawers {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


storagedrawersforestry {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


structuretools {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabbiomesoplenty {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabgravestone {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabkitchen {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tablp {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabparticlephysics {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabsilentgems {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabsupermultidrills {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tabwitchery {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


thermalfoundation {

    creativetab {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    creativetabarmor {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

    creativetabtools {
        S:background=items.png
        B:displayTitle=true
        B:hasSearchBar=false
        B:scrollbar=true
    }

}


tis3d {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


tools {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


trans {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


transportation {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


twilightforest {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


usefulfood {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


veganoption {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


yegamolchattels {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


ygc_entityvita {
    S:background=items.png
    B:displayTitle=true
    B:hasSearchBar=false
    B:scrollbar=true
}


